/*项目及组件样式*/

.van-toast--text,.van-toast--fail {
  background: rgba(0, 0, 0, 0.7) !important;
}
.nut-form-item__body__slots .nut-input{font-size:var(--nut-form-item-body-font-size, 14px);text-align:var(--nut-form-item-body-input-text-align, left);color:var(--nut-black, #000);width:100%;outline:0 none;border:0;text-decoration:none;background:transparent}
